html, body {
    height: 100%; /* Hacer que el body ocupe toda la altura de la ventana */
    margin: 0;    /* Eliminar márgenes predeterminados */
    padding: 0;   /* Eliminar relleno predeterminado */
    background-color: #bdd69b;
}

/* Asegúrate de que el contenedor principal ocupe al menos la altura de la ventana */
#content {
    min-height: 100%; /* Ocupa toda la altura disponible */
    display: flex;
    flex-direction: column;
}

/* Barra de Navegacion */
.navbar {
    background-color: #4CAF50; /* Verde reciclaje */
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #DFF6DF; /* Un tono más claro de verde */
}

/* Responsivo: Apilar los enlaces en pantallas pequeñas */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }
}
/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;        /* Lo coloca al final de la página */
    left: 0;          /* Alineado al borde izquierdo */
    margin-top: auto; /* Empuja el footer hacia abajo cuando el contenido es pequeño */
}